h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

div {
    
    text-align: right;
    font-family: cursive;
    background-color: gray;
    border-style: solid;
   
}

h2 {
    display: inline-block;
    text-align: center;
    align-content: flex-start;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px 5px 30px;

}

h2#leftBox {
    background-color: #fa7f72;
}

h2#centerBox {
    background-color: red;
    color: white;
}

h2#rigthBox {
    background-color: #F5F5DC;
}

p {
    text-align: left;
    font-family: cursive;
    font-family: Arial, Helvetica, sans-serif;
}
