h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}



div {

   
    text-align: right;
    font-family: cursive;
    background-color: #989898;
    border-style: solid;
}

h2 {
   

    display: inline-block;
    /*float: right;*/
    text-align: center;
    align-content: flex-start;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
    padding: 5px 35px 5px 35px;
    border-style: solid;
    margin: 0px 0px 0px 0px;
    

}

body {
    padding-right: auto;
    padding-left: 50px;
}

.div1 {

    
    height: fit-content;
    width: 30%;
    display: inline-block;
}

.div2 {

    height: fit-content;
    width: 30%;
    display: inline-block;
}

.div3 {

    height: fit-content;
    width: 30%;
    display: inline-block;
}

.centerTitle {
    margin-top: -3px;
    margin-right: -3px;
    color: white;
    background-color: red;
    border-color: black;

}

.leftTitle {
    margin-right: -3px;
    margin-top: -3px;
    background-color: #fa7f72;
    
}

.rigthTitle {
    margin-right: -3px;
    margin-top: -3px;
    background-color: bisque;
}

p {
    padding-left: 5px;
    text-align: left;
    font-family: cursive;
    font-family: Arial, Helvetica, sans-serif;
}

