h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}



div {

   
    text-align: right;
    font-family: cursive;
    background-color: gray;
    border-style: solid;
}

h2 {
   
    text-align: center;
    align-content: flex-start;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px 5px 30px;

}

.div1 {

    height: fit-content;
    width: 500px;
    display: inline-block;
}

.div2 {

    height: fit-content;
    width: 500px;
    display: inline-block;
}

.div3 {

    height: fit-content;
    width: 500px;
    display: inline-block;
}

p {
    padding-left: 5px;
    text-align: left;
    font-family: cursive;
    font-family: Arial, Helvetica, sans-serif;
}

